.App {
  display: flex;
  height: 100vh;
  background: #191919;
  color: #fff;
  overflow: hidden;
}
.menu {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  cursor: pointer;
  transition: all 0.3s;
}
.menu-item:hover {
  box-shadow: 0 3px 0 0 #51c4d3;
}
.content {
  width: 75%;
}

.piano-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.piano-wrapper button {
  width: 64px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #fff;
  padding-bottom: 8px;
  font-weight: bold;
  cursor: pointer;
}
.piano-wrapper button.active {
  background: red;
}
.octava {
  display: flex;
}

.play-wrapper {
  position: relative;

}
.d-flex {
  display: flex;
}
.btn-play {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191919;
  margin: 16px 16px 0 0;
  border: none;
  color: #fff;
  border-radius: 8px;
}
.midi-play-view {
  position: fixed;
  top: 48px;
  left: 0;
  padding: 32px;
  width: 100vw;
  min-height: calc(100vh - 48px);
  overflow: scroll;
  background: #191919;  
  z-index: 10;
}